/* header*/
header{
    position: fixed;
    z-index: 100;
    transition: 0.5s ease-in;
    top:  0px;
    left: 0px;
    right: 0px;
}
header > nav > ul.menu > li > a{
    color: rgba(0, 0, 0, 0.9);
    transition: 0.5s ease-in;
}
/* go to top */
div.go-to-top-link{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 5%;
    right: 1%;
    z-index: 999;
    border-radius: 100px;
}
div.go-to-top-link > a.go-to-top-btn{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
div.go-to-top-link > a.go-to-top-btn:hover > i{
    text-shadow: black 1px 0.5px 2px;
    transition: 0.5s ease-in-out;
}
div.go-to-top-link > a.go-to-top-btn > i{
    width: 100%;
    font-size: 2.5rem;
    color: #ed5338af;
    text-align: center;
    transition: 0.5s ease-in;
    display: none;
}
/* Xử lí thanh cuộn */
header.areaScroll{
    background-color: #fff;
    transition: 1.5s ease-in-out;
}
header.areaScroll > div{
    display: none;
}
header.areaScroll >nav > ul.menu > li > a{
    color: black ;
    text-shadow: none;
    transition: 1s ease-in-out;
}
header.areaScroll >nav > ul.menu > li > a:hover{
    color: #ed5338;
    opacity: 1;
    transition: 0.5s ease-in-out;
}
/* gép nhóm span#search-icon, span#shopping-cart, span#user:hover */
header.areaScroll > nav > ul.menu > li:last-child > div > span#search-icon {
    color: black ;  
    transition: 1s ease-in-out;
}
header.areaScroll > nav > ul.menu > li:last-child > div > span#search-icon:hover{
    color: #ed5338;
    opacity: 1;
    transition: 0.5s ease-in-out;
}
header.areaScroll > nav > ul.menu > li:last-child > div > span#shopping-cart {
    color: black ;
    transition: 1s ease-in-out;
}
header.areaScroll > nav > ul.menu > li:last-child > div > span#shopping-cart:hover{
    color: #ed5338;
    opacity: 1;
    transition: 0.5s ease-in-out;
}
header.areaScroll > nav > ul.menu > li:last-child > div >  span#user{
    color: black ;
    transition: 1s ease-in-out;
}
header.areaScroll > nav > ul.menu > li:last-child > div >  span#user:hover{
    color: #ed5338;
    opacity: 1;
    transition: 0.5s ease-in-out;
}





/* menu - header */
nav{
    width: 82.5%;
    margin: 0 auto;
    line-height: 4rem;
}
nav > ul.menu{  
    display: flex;
    list-style: none;
}
nav > ul.menu > li > ul{
    display: flex;
}
nav > ul.menu > li > ul > li > a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    font-weight: 600;
    transform: scale(1);
    transition: 0.5s;
}
nav > ul.menu > li > ul > li > a:hover{
    color: #ed5338;
    transform: scale(1.1,1.1);
    transition: 1s;
    text-shadow: none;
}
/* logo */
.menu > li:first-child{
    width: 140px;
    margin-right: auto;
}
.menu > li:first-child > div > a{
    display: block;
    margin-left: 10px;
    padding: 10px 0px;
    width: 100%;
}

.menu > li:first-child > div > a> img{
    display: block;
    width: 100%;
}
/* nav-icon */
.menu > li:last-child{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu > li:last-child > div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2.5rem;
    transition: 1s;
}
.menu > li:last-child > div > input {
    width: 100%;
    opacity: 0;
    border: none;
    border-radius: 100px;
    padding: 0.6rem 4rem 0.6rem 2.4rem;
    outline: none;
    transition: 0.5s width ease-in-out,0.5s opacity ease-in,
    0.5s border-radius ease-in, 0.5s padding ease-in-out;
}
.menu > li:last-child > div > span{
    position: absolute; 
    cursor: pointer;
    font-size: 14px;
    display: block;
}
.menu > li:last-child > div > #search-icon, #shopping-cart, #user{
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 109;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    transition: 0.5s ease-in;
}
.menu > li:last-child > div > #search-icon:hover, 
#shopping-cart:hover, #user:hover{
    opacity: 0.8;
    text-shadow: black 2px 0px 1px;
}
.menu > li:last-child > div >span.backspace-icon{
    visibility: hidden;
}
.menu > li:last-child > div > span.close-icon{
    opacity: 0;
}

/* search-bar */
.open{
    opacity: 0.8 !important;
    width: 13rem !important;  
}
.openIconClick{
    left: 0% !important ;
    color: #ed5338 !important;
}
.active-closeIcon{
    right: 5%;
    top: 50%;
    transition: 0.5s ease-out;
    transform: translateY(-50%);
    opacity: 1 !important;
    color: #ed5338 !important;
}
.active-backspaceIcon{
    top: 50%;
    right: 15%;
    color: rgba(0, 0, 0, 0.9) !important;
    transform: translateY(-50%);
    transition: 0.5s ease-out;
    visibility: visible ;
}


/*header - end*/



/* body */
body{
    background-color: #fff;
}
section.main{
    position: relative;
    width: 100%;
    margin: 4rem auto;
}
section.main > div{
    width: 80%;
    margin: 0 auto;
}
/* Vùng top */
div.title{
    width: 90%;
    position: relative;
    top: 3rem;
    margin: 0 auto;
}
div.title > div{
    width: 90%;
    margin: 2rem auto;
}
div.title > div > h1{
    font-size: 62px;
    font-weight: 100;
}
div.title > div > .line2{
    opacity: 0.2;
    border: 0.5px black solid;
}
/*** Vùng main ***/
.products-boxshadow{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    /* xử lí bóng khung ngoài */
    border-radius: 10px;  
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in;     
           
}
.products-boxshadow:hover{
    transform: translateY(-5%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease-in-out;
}
.products-boxshadow > div.product{
    width: 100%;
    border-radius:  10px;
    overflow: hidden;
    position: relative;
}

/* vùng product-text */
.products-boxshadow > div.product > div.product-text{
    background-color: #f3f3f3;
}
.products-boxshadow > div.product > div.product-text  > a{
    display: block;
    text-align: center;
    color: #2d2e30;
    transition: 0.75s ease-in;
}
.products-boxshadow > div.product > div.product-text > a.text{
    padding: 1.5rem 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.products-boxshadow > div.product > div.product-text > a.buttons{
    width: 40%;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: #ed5338;
    color: white;
    min-width: 100px;
    border-radius: 10px;
    opacity: 0;
    transition: bottom 0.65s ease-in-out, padding 0.65s ease-out , opacity 0.5s ease-out;
}
/* Vùng product ảnh  */
.products-boxshadow > div.product > div.product-image{
    width: 100%;
    display: block;
}
.products-boxshadow > div.product > div.product-image > a{
    width: 100%;
}
.products-boxshadow > div.product > div.product-image >  a >  img{
    width: 100%;
    display: block;
    transition: 0.5s ease-in;
    border-radius: 10px;
}
/* xử lí hover product*/
.product:hover > div.product-image > a > img{
    overflow: hidden;
    transform: scale(1.06);
    transition: 1s ease-in-out;
    border-radius: 12px;
}
.product:hover > div.product-text > a.text{
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}
.product:hover > div.product-text > a.buttons{
    bottom: 0 !important;
    visibility: visible;
    padding: 10px 5px ;
    margin: 10px 0px;
    font-weight: 300;
    min-width: 100px;
    opacity: 1 !important;
}

/* slide stage */

.btn-left , .btn-right{
    cursor: pointer;
}
.btn-left  > i {
    font-size: 3rem;
    color: #cf2507ce;
    position: absolute;
    left: 8%;
}
.btn-right  > i {
    font-size: 3rem;
    color: #cf2507ce;
    position: absolute;
    right: 8%;
}

/* body */





/* footer */
.number{
    color: #ed5338;
}
.col10{
    width: 10%;
    position: relative;
}
.col20{
    width: 20%;
}
.col25{
    width: 25%;
}
.col45{
    width: 45%;
}
.footer-contain{
    width: 100%;
    background-color:#2d2e30 ;
}
.footer-content{
    width: 60%;
    margin: 0 auto;
    padding: 1rem auto;
}
.footer-content > .footer__flex{
    display: flex;
    line-height: 3.5rem;
    padding: 16px 0px;
}
.footer-content > .footer__flex > div + div{
    margin-left: 0.5rem;
}
.footer-content > .footer__flex > div > h4{
    font-size: 16px;
    color:rgba(255, 248, 248, 0.9);
}
.footer-content > .footer__flex > div > ul > li{
    line-height: 1.6;
}
.footer-content > .footer__flex > div > ul > li > a{
    color:rgba(255, 248, 248, 0.9);
}
.footer-content > .footer__flex > div > ul > li >div{
    line-height: 1.7;
    color:rgba(255, 248, 248, 0.9);
}
.footer-content > .footer__flex > div > ul > li>div,span{
    line-height: 1.7;
    color:rgba(255, 248, 248, 0.9);
}
.footer-content > .footer__flex > div.col45 > ul > li > a{
    color: #ed5338;
}
/* footer-logo */
.col10 > a.logo-bottom{
    width: 150px;
}
.col10 > a.logo-bottom > img{
    width: 100%;
    display: block;
}
/* Social media */
.logo-bottom, .social-media{
    position: absolute;
    bottom: 0;
}
.logo-bottom{
    bottom: 17.5%;
}
.social-media > li{
    display: inline-flex;
    
}
.social-media > li > a{
    width: 100%;
    padding: 10px;
    transition: 0.5s ease-in;
}
.social-media > li > a:first-child{
    padding-left: 0px;
}
.social-media > li > a:hover{
    color: #ed5338 !important;
    transform: scale(1.5);
    transition: 1s linear;
}
.fa-youtube , .fa-facebook-f, .fa-twitter, 
.fa-instagram, .fa-linkedin-in{
    font-size: 1rem !important;
}
/* footer */

/* mobie */
@media only screen and (max-width:450px){
    div.go-to-top-link{
        right: 3%;
    }
    /* =====  HEADER  ===== */
    .menu > li:first-child > div.logo > a{
        width: 100% !important;
        padding: 0px;
    }
    .logo > a > img{
        content: url(/img/logo_mobile.png);
        height: 55px;
    }
    /* =====  BODY  ===== */
    div.title > div > h1{
        text-align: center;
        font-size: 48px;
    }
    a.text{
        font-size: 22px;
    }
    .products-boxshadow{
        margin-left: 1.8rem;
    }
    /* ==== FOOTER ==== */
    .footer__flex{
        flex-direction: column;
    }
    .ft-mobile{
        width: 100%;
    }
    .ft-mobile__top{
        height: 50px;   
    }
    .ft-mobile__top > .social-media{
        right: 0;
        bottom: -50%;
        display: none;
    }
    .ft-mobile__top > a.logo-bottom{
        width: 50%;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .ft-mobile__top > a > img{
        bottom: 0px;
    }
    .footer-content{
        width: 100% !important;
    }
    .footer__flex{
        width: 100% !important;
    }
    .footer__flex > div > ul > li > a{
        padding: 0px 5px;
    }
    
}
@media only screen and (min-width:450px) and (max-width:768px){
    
    /* =====  HEADER  ===== */
    /* NAV */
    .menu > li:last-child{
        right: 7.5% !important;
    }
    .menu > li:first-child > div.logo > a{
        width: 100% !important;
        padding: 0px;
    }
    .logo > a > img{
        content: url(/img/logo_mobile.png);
        height: 55px;
    }
    /* =====  BODY  ===== */
    .products-boxshadow{
        margin-left: 3.5rem;
    }
    .product-text > .text{
        font-size: 22px;
    }
    /* ==== FOOTER ==== */
    .footer-content{
        width: 100%!important;
    }
    .footer__flex{
        width: 98% !important;
    }
    a.logo-bottom{
        left: 50%;
        bottom: 10%;
    }
    ul.social-media{
        left: 50%;
    }
    .footer-content > .footer__flex > div > h4{
        font-size: 14px;
    }
    .footer-content > .footer__flex > div > ul > li >div , span{
        font-size: 12px;
    }
    .footer-content > .footer__flex > div > ul > li > a{
        font-size: 12px;
    }
    
}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px){
    
    /* =====  HEADER  ===== */

    /* =====  BODY  ===== */
    div.title{
        width: 100%;    
    }
    .products-boxshadow{
        margin-left: 3rem;
    } 
    /* nav-slider */
    .owl-next,.owl-prev{
        top: 35% !important;
    }
    /* ==== FOOTER ==== */
    .footer-content{
        width: 80%;
    }
    .logo-bottom{
        bottom: 15%;
    }
}
    
/************ Vùng dùng chung *************/
*{
    font-family: 'Dosis';
    /* font-family: "Work Sans", sans-serif; */
    color: black;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* carousel */
.owl-prev {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
    display: block !important;
    /* border:0px solid black; */
}

.owl-next {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5%;
    display: block !important;
    /* border:0px solid black; */
}
.owl-prev i, .owl-next i {
    transform : scale(1,6); 
    color: #2d2e30; 
    font-size: 20px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: rgba(255, 248, 248, 0);
}
/***** Responsive  ******/
@media only screen and (max-width: 1023px){
    /* =====  HEADER  ===== */
    nav > ul.menu > li > a{
        font-size: 14px;  
    }
    .menu > li:last-child > 
    div > #search-icon, #shopping-cart, #user{
        font-size: 14px;
    }
    .btn-left , .btn-right{
        display: none;
    }
    .products__flex > .products-boxshadow{
        width: 45%;
    }
    .open{
        width: 15rem;
    }
    .menu > li:first-child{
        width: 100%;
        margin: 0 auto;
    }
    .menu > li:first-child > div.logo > a{
        width: 50%;
        margin: 0 auto;
    }
    .menu > li:last-child > div > input{
        padding: 0.4rem 4rem 0.4rem 2.4rem;
    }
    .menu > li:last-child > div >span.fa-times{
        font-size: 14px;
    }
    .menu > li:last-child > div >span.backspace-icon{
        right: 15%;
        font-size: 14px;
    }

    nav{
        width: 100%;
    }
    .menu{
        position: relative;
        display: grid !important;
    }
    .menu > li:last-child{
        position: absolute;
        right: 5%;
        margin: 0;
    }
    .menu > li:first-child{
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 100%;
        margin: 0px;
    }
   
    /* =====  BODY  ===== */
    div.title{
        width: 100%;    
    }
    /* nav-slider */
    .owl-next,.owl-prev{
        top: 35% !important;
    }
    /* ==== FOOTER ==== */
    ul.social-media{
        bottom: -5%;
    }
}